<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension="pbix" mimeType="application/octet-stream" />
            <mimeMap fileExtension="wsp" mimeType="application/octet-stream" />
            <mimeMap fileExtension="xls" mimeType="application/vnd.ms-excel"/>
         </staticContent>
    </system.webServer>
</configuration> 